@import "reset";
@import "oldreset";
@import "header";
//@import "syntax";
@import "company";
@import "footer";
//@import "normalize";
@import "technology";
@import "products";
@import "product1";
@import "index";
@import "contact";
@import "order";
body {
    width: auto;
    height: auto;
    background: white;
}